.all{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  width: 100%;
  height: 4200px;
    background-image:url(Design.jpg)
}
.header__container{
    width: 1512px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 800px;
}
.header__menu{
    display: flex;
    gap: 50px;
}
.header__menu a {
  text-decoration: none;
  color: white;
}
.header__but{
    color: aliceblue;
    background-color: rgb(2, 189, 2);
    padding: 10px 24px;
     border-radius: 10px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  text-decoration: underline;
  text-decoration-color: #00ff6a;
  text-underline-offset: 6px;
   transition: text-decoration-color 0.9s ease;
}
.dis{
    width: 1512px;
    height: 821px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt-dis{
    height: 585px;
    width: 450px;
    display: flex;
    flex-direction:column;
    gap: 120px;
    margin-left: 100px;
}
.txt{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.txt span{
    color: green;
}
.butts a {
  text-decoration: none;
  color: white;
}
.but{
    color: aliceblue;
    background-color: rgb(2, 189, 2);
    padding: 10px 24px;
    border-radius: 10px;
}
.butts{
    display: flex;
    align-items: center;
    gap: 30px;
}
.scale{
     transform: scale(1.4);
     flex-wrap: wrap;
     margin-left: 70px;
}
.top-txt h1{
color: aliceblue;
}
.top-txt {
display: flex;
align-items: center;
justify-content: space-between;
padding: 45px;
}
.top-txt button{
    color: aliceblue;
    background-color: rgb(2, 189, 2);
    padding: 10px 24px;
     border-radius: 10px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.createsell{
    width: 1450px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.createtxt{
    color: aliceblue;
}

.createtxt span{
color: green;
 }
 .create{
    height: 280px;
    width: 430px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .crimg{
    margin-right: 40px;
 }
 .create-btn{
    height: 55px;
    width: 301px;
    display: flex;
    align-items: center;
    gap: 36px;
 }
 .create-btn button{
    color: aliceblue;
    background-color: rgb(2, 189, 2);
    padding: 10px 24px;
     border-radius: 10px;
 }
 .create-btn a{
    text-decoration: none;
    color: white;
 }
 .txtpop{
    width: 1230px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.txtpop h1{
    color: aliceblue;
}
.popular{
    width: 1512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.cardpop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 230px);
  gap: 24px;

  grid-template-areas:
    "a b big"
    "c d big";
}

.card:nth-child(1) { grid-area: a; }
.card:nth-child(2) { grid-area: b; }
.card:nth-child(3) { grid-area: c; }
.card:nth-child(4) { grid-area: d; }
.cardbig            { grid-area: big; }

.card,
.cardbig {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.pop span{
    color: green;
}
.sub{
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}
.subtxt{
    width: 520px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.textsub{
    color: aliceblue;
    width: 520px;
    height: 190px;
}
.subsis span{
color: green;
}
.email{
    width: 520px;
    height: 60px;
    background-color: rgb(0, 0, 73);
    color: rgb(0, 0, 73);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.email input{
    width: 500px;
    height: 50px;
    background-color: rgb(0, 0, 73);
    color: rgb(249, 251, 253);
    border: none;
}
.butem{
    width: 200px;
    height: 55px;
    background-color: rgb(2, 189, 2);
    color: rgb(253, 254, 255);
    border-radius: 10px;

}
.first{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f5e8e8;
    padding-bottom: 25px;
    gap: 160px;
}
.cartss{
    display: flex;
    gap: 90px;
}
.txtfoot p{
    width: 262px;
}
.txtfoot {
    margin-left: 40px;
}
.second{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.priv{
    display: flex;
    gap: 20px;
}